.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
}

.pos-rel {
  position: relative;
}
.inline-flex {
  display: inline-flex;
}

input {
  background: transparent;
  width: 15rem;
  padding: 8px 5px;
  margin: 0.4rem 0.5rem;
  border-radius: 8px;
  border: 2px solid #f1c95c;
  color: white;
  font-size: 1.2rem;
  outline: none;
}

.autocomplete-container {
  position: absolute;
  border: 1.3px solid #f1c95c;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-color: transparent;
  color: rgb(228, 224, 224);
  right: 10px;
  top: 52px;
  width: 15.4rem;
  font-weight: lighter;
  background: #160f24;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.options,
span {
  text-transform: capitalize;
}

.options:hover {
  background: #f1c95c;
  color: #160f24;
  cursor: pointer;
}
