.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
}

.pos-rel {
  position: relative;
}
.inline-flex {
  display: inline-flex;
}

input {
  background: transparent;
  width: 15rem;
  padding: 8px 5px;
  margin: 0.4rem 0.5rem;
  border-radius: 8px;
  border: 2px solid #f1c95c;
  color: white;
  font-size: 1.2rem;
  outline: none;
}

.autocomplete-container {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-color: transparent;
  color: rgb(228, 224, 224);
  right: 10px;
  top: 52px;
  width: 15.4rem;
  font-weight: lighter;
  background: #241c33;
}

.options {
  display: flex;
  align-items: center;
  padding: 5px;
}

.options,
span {
  text-transform: capitalize;
}

.options:hover,
.active-suggestion {
  width: 96.1%;
  background: #f1c95c;
  color: #160f24;
  cursor: pointer;
}

.options:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
